.footer {
  color: #fff;
  text-align: center;
}

.navbar-default {
  background-color: #fff;
}

h2, h3 {
  color: #4aaaaf;
  margin-left: 5%;
}

.navbar-inverse {
  background-color: #777;
}

.carousel-caption {
  background-color: #4aaaaf;
  padding-bottom: 15px;
}

#maincontent p {
  font-size: 14pt;
  color: #444;
}